nav {
    padding: 20px 0px;
    }
    nav ul { padding-right: 60px;
    }
    h1, h2, ul { margin-block-start: 0; margin-block-end: 0;
    }
    button, select { color: #fff; font-size: 1.1rem; cursor: pointer;
    }
    button {
    background-color: #e50914; border: none; border-radius: 3px;
    }
    .button-signin { height: 40px; padding: 7px 20px;
    }
    .select-language {
    border-style: solid; border-color: #fff; background-color: transparent; padding: 10px 10px; margin-right: 35px;
    }
    ul{
    list-style: none;
    }
    .flex-enabled { display: flex;
    }
    .flex-column { flex-direction: column;
    }
    .flex-right {
    flex-direction: row;
    flex: 1;
    justify-content: flex-end; align-items: center;
    }
    .flex-center { align-items: center; justify-content: center;
    }
    body {
    box-sizing: border-box;
    margin: 0px;
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-style: normal; background-image: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.65)), url("/Users/vicky/Desktop/assignment1/images/Sin título-1.png"
    ); 
    width: 100%;
    height: 100vh; background-size: cover; background-position: center; margin: 0px;
     }
     .logo {
        width: 164px; margin-left: 60px;
        }
.billsflix {
    text-align: center;
    max-width: 800px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1px;
}
